body{
  background-color: whitesmoke;
}
.carousel-item {
    height: 70vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.contain{
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.bear{
  min-width: 200px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sides{
  margin: 20px;
  margin-top: 40px;
}
.footer{
  min-height: 350px;
  margin-top: 20px;
}
.sideTop{
  height: 60%;
  width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sideBottom{
  height: 30%;
  width: 100%;
  margin-top: 20px;
}
.form{
  width: 50%;
}